<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - OPNsense Domain Overrides Management</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body { margin-top: 20px; }
        .error-message {
            color: white;
            background-color: red;
            padding: 15px;
            margin-top: 20px;
            border-radius: 7px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <div class="error-message">
            <p>{{ message }}</p>
        </div>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
    <script src="/scrips/jquery-3.5.1.slim.min.js"></script>
    <script src="/scrips/popper.min.js"></script>
    <script src="/scrips/bootstrap.min.js"></script>
</body>
</html>
